<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  


<div style="background-color: #b5b5b5; padding: 5px; padding-left: 10px;">
	<h2 id="reshead" style="color: white"></h2>
	<p id="reservation" style="color: white"></p>
</div>

<script type="text/javascript">
	


	function myfunction(){
		if("{{user.accountlevel}}" == "3" || "{{user.accountlevel}}" == "2" || "{{user.reservation.startdate}}" == "none"){
			
		}else{
			document.getElementById('reshead').innerHTML = "Veiw Your Reservation";

			document.getElementById('reservation').innerHTML = "Checkin Date: {{user.reservation.startdate}} <br>Checkout Date: {{user.reservation.enddate}} <br>Number of Guest: {{user.reservation.occupants}} <br>Room Type: {{user.reservation.roomtype}}";
		}
	}

	window.onload = myfunction();
</script>
